.songline {
  font-family: monospace;
  white-space: pre;
}
.chordline {
  font-family: monospace;
  font-weight: bold;
  white-space: pre;
}
body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: monospace;
    font-size: 20;
}